
@{
    ViewData["Title"] = "app改版-中房创投";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}

<link href="~/css/specialtopic .css" rel="stylesheet" />
<script>
    $(function () {
        navActive(1);
    })
</script>

<div class="app_topic">
    <div class="app_topic_banner1"></div>
    <div class="app_topic_banner2"></div>
    <div class="app_topic_banner3"></div>
</div>

<div class="app_content">
    <div class="app_box1">
        <div class="app_box1_left float_left">
            <div style="height:100px;"></div>
            <p class="font_size_30 blue">快捷入口</p>
            <div style="height:65px;"></div>
            <p class="font_size_22 gray1 ">
                首页关于我们，安全保障，新手指引，邀请有
            </p>
            <p class="font_size_22 gray1 margin_top_20">
                礼等信息查看更方便更便利。
            </p>
        </div>
        <div class="app_box1_right float_right">
            <img src="~/images/topic/app_revision1.png" />
        </div>
        <div class="clear"></div>
    </div>
    <div style="height:45px"></div>
    <div class="app_box2">
        <div class="app_box1_left float_left">
            <img src="~/images/topic/app_revision2.png" />
        </div>
        <div class="app_box1_right float_right">
            <div style="height:140px;"></div>
            <p class="font_size_30 blue">卡片式设计</p>
            <div style="height:65px;"></div>
            <p class="font_size_22 gray1 ">
                更好的将信息归类，界面清晰一目了然，帮助
            </p>
            <p class="font_size_22 gray1 margin_top_20">
                用户快速做出投资决策。
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div style="height:45px"></div>
    <div class="app_box1">
        <div class="app_box1_left float_left">
            <div style="height:150px;"></div>
            <p class="font_size_30 blue">清晰，流畅的使用体验</p>
            <div style="height:65px;"></div>
            <p class="font_size_22 gray1 ">
                简洁明了的看到资产总额，待收利息，累计收
            </p>
            <p class="font_size_22 gray1 margin_top_20">
                益，可用余额，让用户安全，清晰的投资理
            </p>
            <p class="font_size_22 gray1 margin_top_20">
                财。
            </p>
        </div>
        <div class="app_box1_right float_right">
            <img src="~/images/topic/app_revision3.png" />
        </div>
        <div class="clear"></div>
    </div>
    <div style="height:45px"></div>
    <div class="app_box2">
        <div class="app_box1_left float_left">
            <img src="~/images/topic/app_revision4.png" />
        </div>
        <div class="app_box1_right float_right">
            <div style="height:40px;"></div>
            <p class="font_size_30 blue">严谨与活力并存</p>
            <div style="height:65px;"></div>
            <p class="font_size_22 gray1 ">
                专业严谨的品牌形象中，加入颜色丰富的
            </p>
            <p class="font_size_22 gray1 margin_top_20">
                banner设计，让用户体验更加愉悦。
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div style="height:45px"></div>
    
</div>
<div class="app_topic">
    <div class="app_topic_foot1"></div>
    <div class="app_topic_foot2"></div>
    <div class="app_topic_foot3"></div>
</div>

