
@{
    ViewData["Title"] = "南京银行存管";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}
<link href="~/css/activities/newyear.css" rel="stylesheet" />

<div class="njbank">
    <div class="njbank_banner1"></div>
    <div class="njbank_banner2"></div>
    <div class="njbank_banner3"></div>
</div>

<div style="background:#0f1139">
    <div style="height:40px"></div>

</div>