<div class="zfct_footer">
    <div class="zfct_footer_content">
        <div style="height:30px;"></div>
        <div class="zfct_footer_top">
            <div class="zfct_footer_dl float_left">
                <dl>
                    <dt>
                        关于我们
                    </dt>
                    <dd>
                        公司简介
                    </dd>
                    <dd>
                        管理团队
                    </dd>
                    <dd>
                        集团动态
                    </dd>
                    <dd>
                        招聘人才
                    </dd>
                </dl>
                <dl>
                    <dt>
                        投资安全
                    </dt>
                    <dd>
                        法律法规
                    </dd>
                    <dd>
                        安全保障
                    </dd>
                    <dd>
                        合作集团
                    </dd>
                    <dd>
                        合作机构
                    </dd>

                </dl>
                <dl>
                    <dt>
                        帮助中心
                    </dt>
                    <dd>
                        注册及认证
                    </dd>
                    <dd>
                        投资操作
                    </dd>
                    <dd>
                        充值提现
                    </dd>
                    <dd>
                        vip
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="zfct_erweima float_left">
                <ul>
                    <li>
                        <p>手机APP</p>
                        <div style="height:25px;"></div>
                        <img src="~/images/erweima.png" />
                    </li>
                    <li>
                        <p>微信公众号</p>
                        <div style="height:25px"></div>
                        <img src="~/images/erweima.png" />

                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="zfct_footer_right float_right margin_right_20">
                <p class="font_size_14 gray3">客服热线<em class="white margin_left_20 font_size_16">400&nbsp;025&nbsp;1002</em></p>
                <p class="font_size_14 gray3 margin_top_20">工作时间<em class="white margin_left_20 font_size_16">9:00~20:00</em></p>
                <div style="height:70px;"></div>
                <p class="font_size_14 gray3">意见反馈<em class="white margin_left_20 font_size_16">XX@chinazfct.com</em></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zfct_link">
            <ul>
                <li>友情链接</li>
                <li><a href="">中房集团</a></li>
                <li><a href="">汇付天下</a></li>
                <li><a href="">网贷之家</a></li>
                <li><a href="">网贷天眼</a></li>
                <li><a href="">恒丰银行</a></li>
                <li><a href="">奥拓思维</a></li>
                <li><a href="">绿色网站大全</a></li>
                <li><a href="">人才招聘</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="zfct_zhengming">
            <div class="rzBox1">
                <a id='___szfw_logo___' href='https://credit.szfw.org/CX20160322018215850113.html' target='_blank' class="pull-left ml10 mt10"><img src='~/images/zizhi.png' border='0' alt="诚信网站认证" /></a>
                <a href="http://www.aliyun.com/?utm_medium=text&utm_source=bdbrand&utm_campaign=bdbrand&utm_content=se_32492" target='_blank' class="pull-left ml10 mt10"><img src='~/images/aliyun.png' border='0' /></a>
                <a href="javascript:void(0)" class="pull-left ml10 mt10">
                    <script language="JavaScript" type="text/javascript" src="https://seal.wosign.com/tws.js"></script>
                </a>
                <script type='text/javascript'>(function () { document.getElementById('___szfw_logo___').oncontextmenu = function () { return false; } })();</script>
                <script>
                        var _hmt = _hmt || [];
                        (function () {
                            var hm = document.createElement("script");
                            hm.src = "//hm.baidu.com/hm.js?d51d5ebe41d8d12676c6a6444cbe5aaa";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                </script>
            </div>
        </div>
        <div style="height:10px;"></div>
        <p class="font_size_12 gray3 text_align_center"> Copyright 2016 南京中乾惠诚投资管理有限公司 （www.chinazfct.com）/苏ICP备16005392号/  市场有风险，投资需谨慎</p>
        <div style="height:10px;"></div>
    </div>
