
@{
    ViewData["Title"] = "提现状态";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}

<style>
    .zfct_bg {
        background: #f0f0f0;
    }
</style>
<div style="height:20px;"></div>

<div class="zfct_page">
    <div style="height:100px;"></div>
    @if (ViewBag.Success)
    {
    <div class="recharge_success">
        <img src="~/images/withdraw_icon1.png" class="img-margin" />
        <div style="height:30px;"></div>
        <p class="text_align_center font_size_16 font-weight">
            提现成功，具体到账时间以银行时间为准
        </p>
        <div style="height:40px;"></div>
        <a href="index" class="see_myaccount1">
            查看账户
        </a>
    </div>
    }else
    {
        <div class="recharge_false">
            <img src="~/images/withdraw_icon.png" class="img-margin" />
            <div style="height:30px;"></div>
            <p class="text_align_center font_size_16 font-weight red1">
                @(ViewBag.Msg)
            </p>
            <div style="height:10px;"></div>
            <p class="font_size_13 text_align_center">
                如提现过程中遇到任何问题，请联系<a href="">在线客服</a>活拨打客服热线400-025-1002
            </p>
            <div style="height:40px;"></div>
            <div style="width:550px; margin:0 auto">
                <a href="InvestmentWithdraw" class="recharge_again float_left">
                    再次提现
                </a>
                <a href="index" class="see_myaccount1 float_left">
                    查看账户
                </a>
                <div class="clear"></div>
            </div>

        </div>
    }

    <div style="height:70px;"></div>
</div>

