
@{
    ViewData["Title"] = "合法合规";
    Layout = "~/Views/Shared/_InfoPublicLeft.cshtml";
}


<style>
    .zfct_bg {
        background: #f0f0f0;
    }

    .layui-layer {
        width: auto !important;
        border: 1px solid #eecb6f;
    }
</style>
<div style="height:20px;"></div>
<script>
    $(function () {
        navActive(3);
        FirstActive(3);
        PublicActive(16);
    })
</script>

<div class="zfct_account_box float_right padding_top_60 padding_bottom_60 white_bg">
    <div class="business_box">
        <p class="text_align_center font_size_24 bold">合法合规</p>
        <div style="height:20px;"></div>
        <div class="legal_box">
            <p class="font_size_18 bold">
                <em class="margin_right_5">●</em>关于中房创投平台提供居间撮合服务<em class="blue margin_left_15">合法平台，合法服务</em>
            </p>
            <p class="margin_top_18">
                《合同法》第23章专门对“居间合同”作出规定，其第424条明确定义为：“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”。中房创投平台是合法设立的网络借贷信息中介平台，致力于为民间借贷业务提供优质高效的撮合服务，以促成借贷双方形成借贷关系，此种居间服务有着明确的法律依据。
            </p>
            <p>
                根据最高人民法院《关于审理民间借贷案件适用法律若干问题的规定》第22条规定：借贷双方通过网络贷款平台形成借贷关系，网络贷款平台的提供者仅提供媒介服务，当事人请求其承担担保责任的，人民法院不予支持。
            </p>
        </div>
        <div class="legal_box legal_box_bg">
            <p class="font_size_18 bold">
                <em class="margin_right_5">●</em>关于投资人及融资人的借贷关系<em class="blue margin_left_15">借贷关系建立合法</em>
            </p>
            <p class="margin_top_18">
                《合同法》第196条：“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”。《合同法》允许自然人等普通民事主体之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。
            </p>
           
        </div>
        <div class="legal_box">
            <p class="font_size_18 bold">
                <em class="margin_right_5">●</em>关于在中房创投平台投资签署的电子合同<em class="blue margin_left_15">电子合同合法有效</em>
            </p>
            <p class="margin_top_18">
                根据《合同法》和《电子签名法》的规定，当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同。电子合同是法律认可的书面合同形式之一。中房创投联合第三方国家认证平台一签通，为用户的投资提供签署电子合同。电子合同符合《中华人民共和国合同法》规定的合同成立、生效的要件，其有效性也被人民法院的司法实践所接受。
            </p>          
        </div>
        <div class="legal_box legal_box_bg">
            <p class="font_size_18 bold">
                <em class="margin_right_5">●</em>关于投资人通过中房创投平台获得利息收益<em class="blue margin_left_15">收益合法，法律保护</em>
            </p>
            <p class="margin_top_18">
                根据《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》第二十六条：“借贷双方约定的利率未超过年利率24%，投资人请求借款人按照约定的利率支付利息的，人民法院应予支持。借贷双方约定的利率超过年利率36%，超过部分的利息约定无效。借款人请求投资人返还已支付的超过年利率36%部分的利息的，人民法院应予支持。” 中房创投平台上投资人向融资人投资资金并按照约定利率收取利息，该利率未超过前述规定的上限，为合法利息收益，受到法律保护。
            </p>

        </div>
    </div>
</div>