
@{
    ViewData["Title"] = "政策法规";
    Layout = "~/Views/Shared/_InfoPublicLeft.cshtml";
}



<style>
    .zfct_bg {
        background: #f0f0f0;
    }

    .layui-layer {
        width: auto !important;
        border: 1px solid #eecb6f;
    }
</style>
<div style="height:20px;"></div>
<script>
    $(function () {
        navActive(3); 
        FirstActive(3);
        PublicActive(17);
    })
</script>
<div class="zfct_account_box float_right padding_top_60 padding_bottom_60 white_bg">
    <div class="business_box">
        <p class="text_align_center font_size_24 bold">政策法规</p>
        <div style="height:20px;"></div>
        <div class="policeregular_content">
            <ul class="padding_left_20 padding_right_20">
                <li>
                    <a href="http://jsjrb.jiangsu.gov.cn/art/2017/12/29/art_4664_7204142.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">江苏省网络借贷信息中介机构备案登记管理暂行办法</em>
                        <em class="font_size_12 float_right ">2017-12-29</em>
                    </a>
                </li>
                <li>
                    <a href="http://huancui.gov.cn/GongKai/2017-12-19/content_10595.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">关于做好P2P网络借贷风险专项整治整改验收工作的通知</em>
                        <em class="font_size_12 float_right ">2017-12-19</em>
                    </a>
                </li>
                <li >
                    <a href="http://www.cbrc.gov.cn/govView_C8D68D4C980A4410B9F4E21BA593B4F2.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">网络借贷信息中介机构业务活动信息披露指引</em>
                        <em class="font_size_12 float_right ">2017-08-24</em>
                    </a>
                </li>
                <li>
                    <a href="http://www.cbrc.gov.cn/govView_4201EF03472544038242EED1878597CB.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">中国银监会办公厅关于印发网络借贷资金存管业务指引的通知</em>
                        <em class="font_size_12 float_right ">2017-02-22</em>
                    </a>
                </li>
                <li>
                    <a href="http://www.cbrc.gov.cn/govView_37D312933F1A4CECBC18F9A96293F450.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">网络借贷信息中介机构业务活动管理暂行办法</em>
                        <em class="font_size_12 float_right ">2016-08-24</em>
                    </a>
                </li>
                <li>
                    <a href="http://www.court.gov.cn/zixun-xiangqing-15146.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">最高人民法院关于审理民间借贷案件适用法律若干问题的规定</em>
                        <em class="font_size_12 float_right ">2015-08-06</em>
                    </a>
                </li>
                <li>
                    <a href="http://www.gov.cn/xinwen/2015-07/18/content_2899360.htm" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">关于促进互联网金融健康发展的指导意见</em>
                        <em class="font_size_12 float_right ">2017-07-18</em>
                    </a>
                </li>
                <li>
                    <a href="http://www.cbrc.gov.cn/govView_E7B94B41E8C340E4833472632308AEC5.html" target="_blank">
                        <em class="  margin_right_5">•</em><em class="font_size_16 aboutus_content_em">网络借贷信息中介机构备案登记管理指引</em>
                        <em class="font_size_12 float_right ">2016-10-28</em>
                    </a>
                </li>
            </ul>            
        </div>
    </div>
</div>
