
@{
    ViewData["Title"] = "风险限制";
    Layout = "~/Views/Shared/_InfoPublicLeft.cshtml";
}

<style>
    .zfct_bg {
        background: #f0f0f0;
    }

    .layui-layer {
        width: auto !important;
        border: 1px solid #eecb6f;
    }
</style>
<script>
    $(function () { 
        navActive(3);      
        FirstActive(2);
        PublicActive(15);
    })
</script>
<div style="height:20px"></div>
<div class="zfct_account_box float_right padding_top_60 padding_bottom_60 white_bg">
    <div class="business_box">
        <p class="text_align_center font_size_24 bold">风险控制</p>
        <div style="height:40px;"></div>
        <p class="risk_p">
            <img src="~/images/helpcenter/risk_img1.png" />
            <em class="font_size_16">融资人/机构</em><br />
            <em class="font_size_14 gray1 position_risk">材料整理</em>
        </p>
        <p class="risk_p ">
            <img src="~/images/helpcenter/arrow.png" class="margin_left_30" />
        </p>
        <p class="risk_p">
            <img src="~/images/helpcenter/risk_img2.png" />
            <em class="font_size_16">渠道端</em><br />
            <em class="font_size_14 gray1 position_risk">信用审核      债还能力审核     合规审核</em>
        </p>
        <p class="risk_p ">
            <img src="~/images/helpcenter/arrow.png" class="margin_left_30" />
        </p>
        <p class="risk_p">
            <img src="~/images/helpcenter/risk_img3.png" />
            <em class="font_size_16">资产端</em><br />
            <em class="font_size_14 gray1 position_risk">资料再审      资产封存</em>
        </p>
        <p class="risk_p ">
            <img src="~/images/helpcenter/arrow.png" class="margin_left_30" />
        </p>
        <p class="risk_p">
            <img src="~/images/helpcenter/risk_img4.png" />
            <em class="font_size_16">平台端</em><br />
            <em class="font_size_14 gray1 position_risk">资料三审      标的管理</em>
        </p>
        <p class="risk_p ">
            <img src="~/images/helpcenter/arrow.png" class="margin_left_30" />
        </p>
        <p class="risk_p">
            <img src="~/images/helpcenter/risk_img5.png" />
            <em class="font_size_16">项目发布</em><br />
            <em class="font_size_14 gray1 position_risk">信息披露</em>
        </p>
        <p class="risk_p ">
            <img src="~/images/helpcenter/arrow.png" class="margin_left_30" />
        </p>
        <p class="risk_p">
            <img src="~/images/helpcenter/risk_img6.png" />
            <em class="font_size_16">贷后管理</em><br />
            <em class="font_size_14 gray1 position_risk">短信→电话→人工上门→委托第三方上门→法律程序解决</em>
        </p>      
    </div>
</div>

