
@{
    ViewData["Title"] = "风险提示";
    Layout = "~/Views/Shared/_InfoPublicLeft.cshtml";
}

<style>
    .zfct_bg {
        background: #f0f0f0;
    }

    .layui-layer {
        width: auto !important;
        border: 1px solid #eecb6f;
    }
</style>
<div style="height:20px;"></div>
<script>
    $(function () {
        navActive(3);
        FirstActive(3);
        PublicActive(18);
    })
</script>

<div class="zfct_account_box float_right padding_top_60 padding_bottom_60 white_bg">
    <div class="business_box">
        <p class="text_align_center font_size_24 bold">风险提示</p>
        <div style="height:40px;"></div>
        <div class="padding_left_20 padding_right_20">
            <p class="font_size_20">
                致尊敬的中房创投用户：
            </p>
            <div style="height:30px;"></div>
            <p>
                鉴于在进行资金出借过程中可能遇到的各种风险，中房创投在此温馨提示，请您在进行资金出借前仔细阅读以下内容，了解风险，并根据自身的投资风险意识、风险承受能力做出适合的投资理财计划。
            </p>
            <div style="height:20px;"></div>
            <p>
                1.中房创投仅作为网络借贷信息中介机构进行信息发布，平台有严格的风控，为您筛选优质的投资项目，但是不对您及您的投资提供任何担保。中房创投没有义务对逾期的本息以及费用进行垫付或未经委托对融资人进行追索。
            </p>
            <div style="height:20px;"></div>
            <p>
                2.政策风险：因网络借贷是基于当前的国家宏观政策及相关法律法规所设计。如国家宏观政策（如财政政策、货币政策、行业政策、地区发展政策）以及市场相关法律法规发生变化，可能会导致网络借贷面临损失。
            </p>
            <div style="height:20px;"></div>
            <p>
                3.信用风险：若融资人因人身意外、疾病、死亡等行为造成丧失还款能力，可能对您的预期收益造成影响。
            </p>
            <div style="height:20px;"></div>
            <p>
                4.资金流动性风险：针对您的出借资金，在借贷关系存续期间，不得提出终止。若有需要，中房创投会努力帮助您寻找债权受让方，以帮助您完成债权转让，但是不对债权转让的实现时间提供任何承诺和保证。
            </p>
            <div style="height:20px;"></div>
            <p>
                5.不可抗力风险：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致您出借资金损失的风险。
            </p>
            <div style="height:30px;"></div>
            <div style="text-align:right">           
                <img src="~/images/zfct_logo1.png" />
            </div>
        </div>
    </div>
</div>
