
@{
    ViewData["Title"] = "安全保障";
    Layout = "~/Views/Shared/_InfoPublicLeft.cshtml";
}
<style>
    .zfct_bg {
        background: #f0f0f0;
    }

    .layui-layer {
        width: auto !important;
        border: 1px solid #eecb6f;
    }
</style>

<script>
    $(function () {
        navActive(3);
        FirstActive(2);
        PublicActive(14);
    })
</script>
<div style="height:20px"></div>
<div class="zfct_account_box float_right padding_top_60 padding_bottom_60 white_bg">
    <div class="business_box">
        <p class="text_align_center font_size_24 bold">安全保障</p>
        <div style="height:40px;"></div>
        <div class="securitycenter_content">
            <div style="height:65px"></div>
            <div style="width:550px; float:left; margin-left:15px">
                <p class="font_size_30 blue">股东背景</p>
                <div style="height:35px"></div>
                <p class="font_size_14">
                    中房中融老龄产业发展南京有限公司成立于2015年，直属中房老龄产业发展集团（控股比例为51%），是中国中小商业企业协会理事单位。中房中融老龄产业发展南京有限公司依托母公司资源，致力于成为“颐养生态地产+金融互助平台+产业聚合链条”三驾马车并驱的综合性产业发展集团，其中以中房创投、中房社区为重点板块，深耕金融服务、社区服务、互助经济等领域，共筑集团新蓝图。

                </p>
                @*<div style="height:20px;"></div>
                <p>
                    中房中融老龄产业发展南京有限公司依托央企资源，致力于成为“颐养生态地产+金融互助平台+产业聚合链条”三驾马车并驱的综合性产业发展集团，其中以中房创投、中房社区为重点板块，深耕金融服务、社区服务、互助经济等领域，共筑集团新蓝图。


                </p>*@
            </div>
            <img src="~/images/public/gudong.png" class="float_right margin_left_50" style="margin-top:100px" />
            <div class="clear"></div>
            <div style="height:65px"></div>
        </div>
        <div class="financial_security" id="financial_security">
            <div style="height:65px"></div>
            <div class="financial_security_content">
                <img src="~/images/public/zijin.png" class="float_left margin_left_60 margin_right_100" />
                <div style="width:420px; float:right; margin-right:50px;">
                    <p class="font_size_30 blue">资金安全保障</p>
                    <div style="height:45px"></div>
                    <p class="font_size_14 ">
                        即将上线银行存管系统，银行对用户资金进行独立管理与监督，平台无法触碰，实现平台资金与用户资金隔离，保证投资者资金安全，让投资理财更安心。
                    </p>

                </div>
                <div class="clear"></div>
            </div>
            <div style="height:65px"></div>
        </div>
        <div class="real_borrower">
            <div style="height:90px"></div>
            <div class="float_left" style="margin-left:15px;">
                <p class="font_size_30 blue">资金清晰透明</p>
                <ul class="font_size_14">
                    <li><em class="blue font_size_20">•</em>&nbsp;&nbsp;投资记录了如指掌</li>
                    <li><em class="blue font_size_20">•</em>&nbsp;&nbsp;投资项目比比可见</li>
                    <li><em class="blue font_size_20">•</em>&nbsp;&nbsp;借款人信息清晰可查</li>
                    <li><em class="blue font_size_20">•</em>&nbsp;&nbsp;投资合同一目了然</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <img src="~/images/public/qingxitouming.png" class="float_right" style="margin-right:65px;"/>
            <div class="clear"></div>
            <div style="height:70px"></div>
        </div>
        <div class="financial_security" id="wind_system">
            <div style="height:65px"></div>
            <div class="financial_security_content" >
                <img src="~/images/public/engkong.png" class="float_left margin_left_60 " style="margin-right:70px; margin-top:40px;" />
                <div style="width:425px; float:right; margin-right:50px;">
                    <p class="font_size_30 blue">风控体系保障</p>
                    <div style="height:45px"></div>
                    <ul>
                        <li class="margin_bottom_20"><em class="blue font_size_20">•</em>&nbsp;&nbsp;<text class="margin_right_50">贷前审查</text><text>提出申请-实地考察-多方验证-评估授信</text></li>
                        <li class="margin_bottom_20"><em class="blue font_size_20">•</em>&nbsp;&nbsp;<text class="margin_right_50">贷中流程</text><text>办理抵押-签订合同-借款发布</text></li>
                        <li class="margin_bottom_20"><em class="blue font_size_20">•</em>&nbsp;&nbsp;<text class="margin_right_50">贷后流程</text><text>资金用途追踪-不定期回访-内部风险预警</text></li>
                        <li class="margin_bottom_20"><em class="blue font_size_20">•</em>&nbsp;&nbsp;<text class="margin_right_50">逾期处理</text><text>内部催收-委外催收-法律诉讼-抵押物处置</text></li>
                        @*<li class="margin_bottom_20"><em class="blue">•</em>&nbsp;&nbsp;<text class="margin_right_35">风险保证金</text><text>中房创投在存管银行设立风险保证金账户，对可能存在的逾期现象进项先行赔付</text></li>*@
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div style="height:65px"></div>
        </div>
        <div class="real_borrower" id="information_data">
            <div style="height:90px"></div>
            <div class="float_left" style="margin-left:15px;">
                <p class="font_size_30 blue">信息披露</p>
                <ul class="font_size_14">
                    <li><em class="blue font-size-20">•</em>&nbsp;&nbsp;品牌透明</li>
                    <li><em class="blue font-size-20">•</em>&nbsp;&nbsp;项目透明</li>
                    <li><em class="blue font-size-20">•</em>&nbsp;&nbsp;数据透明</li>
                   
                    <div class="clear"></div>
                </ul>
            </div>
            <img src="~/images/public/xinxi.png" class="float_right" style="margin-right:65px;"/>
            <div class="clear"></div>
            <div style="height:70px"></div>
        </div>
    </div>
</div>



