
@{
    ViewData["Title"] = "2017年度运营报告";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}
<link href="~/css/activities/newyear.css" rel="stylesheet" />

<div class="report_banner">

</div>
<div class="report_box">
    <p>
        时光如白驹过隙，过去的一年，中房创投珍藏了太多值得铭记的时刻。此刻记录下的成绩，都是我们昨日未曾蹉跎岁月换取的感慨。总之，这一年精彩纷呈，但最重要的仍是“有您相伴”。
    </p>
</div>
<div style="height:15px;"></div>
<div class="report_box2">
    <img src="~/images/activity/operationreport/report_title1.png" class="img-margin" />
    <div style="height:50px;"></div>
    <img src="~/images/activity/operationreport/report_echart1.png" class="img-margin" />
</div>
<div style="height:15px;"></div>
<div class="report_box3">
    <img src="~/images/activity/operationreport/report_title2.png" class="img-margin" />
    <div style="height:50px;"></div>
    <ul>
        <li>
            <p class="text_align_center font_size_22">
                2017年度APP、微信、pc<em class="report_blue">成交笔数占比</em>
                <div style="height:30px;"></div>
                <img src="~/images/activity/operationreport/report_echart2.png" class="img-margin" />
            </p>
            <div style="height:40px;"></div>
            <dl>
                <dd>
                    <p class="font_size_18">pc</p>
                    <p class="font_size_22">41.3%</p>
                </dd>
                <dd>
                    <p class="font_size_18">App</p>
                    <p class="font_size_22">51.2%</p>
                </dd>
                <dd>
                    <p class="font_size_18">微信</p>
                    <p class="font_size_22">7.5%</p>
                </dd>
                <div class="clear"></div>
            </dl>
        </li>
        <li>
            <p class="text_align_center font_size_22">
                2017年度APP、微信、pc<em class="report_red">累计成交金额占比</em>
                <div style="height:30px;"></div>
                <img src="~/images/activity/operationreport/report_echart3.png" class="img-margin" />
            </p>
            <div style="height:40px;"></div>
            <dl>
                <dd>
                    <p class="font_size_18">pc</p>
                    <p class="font_size_22">43.2%</p>
                </dd>
                <dd>
                    <p class="font_size_18">App</p>
                    <p class="font_size_22">50.8%</p>
                </dd>
                <dd>
                    <p class="font_size_18">微信</p>
                    <p class="font_size_22">6.0%</p>
                </dd>
                <div class="clear"></div>
            </dl>
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div style="height:15px;"></div>
<div class="report_box3">
    <img src="~/images/activity/operationreport/report_title3.png" class="img-margin" />
    <div style="height:50px;"></div>
    <img src="~/images/activity/operationreport/report_echart4.png" class="img-margin" />
</div>
<div style="height:15px;"></div>
<div class="report_box4">
    <img src="~/images/activity/operationreport/report_title4.png" class="img-margin" />
    <div style="height:50px;"></div>
    <ul>
        <li style="width:45%">
            <img src="~/images/activity/operationreport/female.png" class="img-margin" />
            <p class="font_size_22 margin_top_15 text_align_center">男性投资人数占比：42.96%</p>
            <div style="height:35px;"></div>
            <img src="~/images/activity/operationreport/male.png" class="img-margin" />
            <p class="font_size_22 margin_top_15 text_align_center">女性投资人数占比：57.04%</p>
        </li>
        <li style="width:55%">
            <img src="~/images/activity/operationreport/report_echart5.png" class="img-margin" />
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div style="height:15px;"></div>
<div class="report_box4">
    <img src="~/images/activity/operationreport/report_title5.png" class="img-margin" />
    <div style="height:50px;"></div>    
    <img src="~/images/activity/operationreport/report_echart6.png" class="img-margin" />
</div>
<div style="height:15px;"></div>
<div class="report_box4">
    <img src="~/images/activity/operationreport/report_title6.png" class="img-margin" />
    <div style="height:50px;"></div>
    <img src="~/images/activity/operationreport/report_echart7.png" class="img-margin" />
</div>
<div style="height:15px;"></div>
<div class="report_box4">
    <img src="~/images/activity/operationreport/report_title7.png" class="img-margin" />
    <div style="height:50px;"></div>
    <img src="~/images/activity/operationreport/report_echart8.png" class="img-margin" />
</div>
<div style="height:15px;"></div>
<div class="report_box5">
    <img src="~/images/activity/operationreport/report_title8.png" class="img-margin" />
    <div style="height:50px;"></div>
    <main class="projectmain">
      
        <section class="font_14">
            <div id="time_axis ">


                <div id="jingzhan">
                    <div class="activity_time ">
                        <div class="t_1 bold" ></div>
                        <div class="t_2">
                            2017.04
                        </div>
                        <div class="t_3">
                            <div style="height:10px;"></div>
                            <p>“一滴热血一份关爱”中房创投全体员工献血公益行。</p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png1.png" />
                        </div>

                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 bold"></div>
                        <div class="t_2">
                            2017.04
                        </div>
                        <div class="t_3">
                            <div style="height:10px;"></div>
                            <p>医购贷名誉董事长薛美华一行考察集团，并与中房创投总裁田峰洽谈战略合作。</p>
                          
                        </div>
                    </div>
                    <div class="activity_time time-margin-top60">
                        <div class="t_1 bold">

                        </div>
                        <div class="t_2">
                            2017.04
                        </div>
                        <div class="t_3">
                            <p>
                                中房集团总裁张文清、中房老龄集团董事长陈敏、中房创投总裁田峰代表中房集团与溧阳市政府签署战略合作协议。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png2.png" />
                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 bold"></div>
                        <div class="t_2">
                            2017.04
                        </div>
                        <div class="t_3">
                            <div style="height:10px;"></div>
                            <p>
                                中房老龄集团董事长陈敏、中房老龄集团总裁赵运、中房创投总裁田峰代表中房老龄集团与煤山镇政府签署合作开发协议，打造康养运动小镇。
                            </p>
                            
                        </div>
                    </div>
                    <div class="activity_time time-margin-top80">
                        <div class="t_1 ">
                            <div style="height:10px;"></div>
                            <p>
                                中房创投作为中国中小商业企业协会理事单位受邀出席北京“一带一路”沿线国家中小企业合作论坛，并代表发言。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png3.png" />
                        </div>
                        <div class="t_2">
                            2017.06
                        </div>
                        <div class="t_3">

                        </div>
                    </div>                        
                    <div class="activity_time time-margin-top160">
                        <div class="t_1 ">
                            <div style="height:10px;"></div>
                            <p>
                                中房创投联合阿依土豆公益服务中心共同举办“2012-2017阿依土豆凉山支教分享会”，宣布建立员工义务支教长效机制。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png4.png" />
                        </div>
                        <div class="t_2">
                            2017.06
                        </div>
                        <div class="t_3">

                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 bold">

                        </div>
                        <div class="t_2">
                            2017.10
                        </div>
                        <div class="t_3">
                            <p>
                                华职教社总干事王金宝、《慈善公益报》社长曾春光、中国中小商业企业协会副会长陈建煌莅临中房创投南京总部参观指导。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png5.png" />
                        </div>
                    </div>                    
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 bold">

                        </div>
                        <div class="t_2">
                            2017.10
                        </div>
                        <div class="t_3">
                            <p>
                                中房创投与南京明心学校建立长期公益合作机制，持续关爱自闭症儿童。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png6.png" />
                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 ">
                            <div style="height:10px;"></div>
                            <p>
                                中房创投受邀参加第九届金融科技与支付创新2017年度盛会，探讨“网贷平台良性发展之道”。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png7.png" />
                        </div>
                        <div class="t_2">
                            2017.11
                        </div>
                        <div class="t_3">

                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 bold">

                        </div>
                        <div class="t_2">
                            2017.12
                        </div>
                        <div class="t_3">
                            <p>
                                中房创投与渤海银行签订合作协议，落实银行存管属地化。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png8.png" />
                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 ">
                            <div style="height:10px;"></div>
                            <p>
                                中房创投加入江苏省互金协会，安全合规再升级。
                            </p>
                            
                        </div>
                        <div class="t_2">
                            2017.12
                        </div>
                        <div class="t_3">

                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 bold">

                        </div>
                        <div class="t_2">
                            2017.12
                        </div>
                        <div class="t_3">
                            <p>
                                中国中小商业企业协会监事长李献平一行参观考察中房创投和中房天孝园项目。
                            </p>
                            <div style="height:10px;"></div>
                            <img src="~/images/activity/operationreport/report_png9.png" />
                        </div>
                    </div>
                    <div class="activity_time time-margin-top150">
                        <div class="t_1 ">
                            <div style="height:10px;"></div>
                            <p>
                                荣获集团2017年度“最佳创新奖”和“最佳贡献奖”。
                            </p>
                            <div style="height:20px;"></div>
                            <img src="~/images/activity/operationreport/report_png10.png" /> &nbsp;&nbsp;&nbsp; <img src="~/images/activity/operationreport/report_png11.png" />
                        </div>
                        <div class="t_2">
                            2018.1
                        </div>
                        <div class="t_3">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div style="height:120px;"></div>
</div>
<div style="height:15px;"></div>
<div class="report_box6">
    <img src="~/images/activity/operationreport/report_title9.png" class="img-margin" />
    <div style="height:50px;"></div>
    <img src="~/images/activity/operationreport/report_media_content.png" class="img-margin" />
</div>
<div style="height:15px;"></div>
<div class="report_foot">
    <div class="report_box7">
        <img src="~/images/activity/operationreport/report_title10.png" class="img-margin" />
        <div style="height:50px;"></div>
        <ul>
            <li>
                <img src="~/images/activity/operationreport/report_icon1.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    520
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    处理疑难问题
                </p>
            </li>
            <li>
                <img src="~/images/activity/operationreport/report_icon2.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    623
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    微信咨询
                </p>
            </li>
            <li>
                <img src="~/images/activity/operationreport/report_icon3.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    2,451
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    接听客服电话
                </p>
            </li>
            <li>
                <img src="~/images/activity/operationreport/report_icon4.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    0
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    回复客服邮件
                </p>
            </li>
            <li>
                <img src="~/images/activity/operationreport/report_icon5.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    40
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    回复并处理后台问题
                </p>
            </li>
            <li>
                <img src="~/images/activity/operationreport/report_icon6.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    0
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    处理拍照验证
                </p>
            </li>
            <li>
                <img src="~/images/activity/operationreport/report_icon7.png" class="img-margin" />
                <p class="font_size_24 bold text_align_center gray1 margin_top_25">
                    12
                </p>
                <p class="font_size_15 text_align_center margin_top_10">
                    受理在线咨询
                </p>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div style="height:35px;"></div>
    <div class="report_box" style="margin-top:0px;">
        <p>
            雄关漫道真如铁，而今迈步从头越,新的一年挑战与机遇同在，中房创投将继续专注如一，洞悉每个细微的金融需求，致力于让更多人收获财富，收获“璀璨人生”。
        </p>
    </div>

</div>

