
@{
    ViewData["Title"] = "开门红";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}
<link href="~/css/activities/newyear.css" rel="stylesheet" />
<div class="goodstart_box">
    <div style="height:100px;"></div>
    <img src="~/images/activity/goodstart/goodstart_banner.png" class="img-margin" />
    <div style="height:270px;"></div>
    <div class="goodstart_page1">
        <img src="~/images/activity/goodstart/goodstart_title1.png" class="img-margin" />
        <div style="height:30px"></div>
        <img src="~/images/activity/goodstart/goodstart_content1.png" class="img-margin" />
    </div>
    <div style="height:75px"></div>
   <div class="goodstart_page2">
       <img src="~/images/activity/goodstart/goodstart_title2.png" class="img-margin" />
       <div style="height:30px"></div>
       <div class="goodstart_content2 position-relative">
            <div class="goodstart_text2">
                <p class="font_size_16 white">
                    活动期内，
                </p>
                <p class="white font_size_16 margin_top_10">
                    <em class="goodstart_yellow">新用户注册</em>，除<em class="goodstart_yellow">注册红包</em>外，额外赠送<em class="goodstart_yellow">88元投资红包</em>。
                </p>
            </div>
           <img src="~/images/activity/goodstart/goodstart_content2.png" class="img-margin" />
       </div>
      
   </div>
   <div style="height:75px"></div>
    <div class="goodstart_page2">
        <img src="~/images/activity/goodstart/goodstart_title3.png" class="img-margin" />
        <div style="height:30px"></div>
        <div class="goodstart_content2 position-relative">
            <div class="goodstart_text2">
                <p class="font_size_16 white">
                    活动期内，投资三月及以上标的，
                </p>
                <p class="white font_size_16 margin_top_10">
                    累计满<em class="goodstart_yellow">100000元及以上</em>客户，获赠<em class="goodstart_yellow">500元京东卡</em>奖励。
                </p>
            </div>
            <img src="~/images/activity/goodstart/goodstart_content3.png" class="img-margin" />
            
        </div>

    </div>
    <div style="height:75px"></div>
    <div class="goodstart_page2">
        <img src="~/images/activity/goodstart/goodstart_title4.png" class="img-margin" />
        <div style="height:30px"></div>
        <div class="goodstart_content2 position-relative">
            <div class="goodstart_text2" style="width:450px">
                <p class="font_size_16 white">
                    活动期内，
                </p>
                <p class="white font_size_16 margin_top_10">
                    客户<em class="goodstart_yellow">约标并投资满标，</em>获取<em class="goodstart_yellow">1000元返现奖励</em>
                </p>
                <p class="font_size_16 white margin_top_10"> 
                    （标的额度≥20万，标的期限≥3个月；不与其他活动共享）。
                </p>
            </div>
            <img src="~/images/activity/goodstart/goodstart_content4.png" class="img-margin" />

        </div>

    </div>
    <div style="height:30px"></div>
    <a href="/myinvest/recommendedlist" class="goodstart_button">
        立即投资
    </a>
    <div style="height:30px"></div>
    <div class="goodstart_rule">
       
        <img src="~/images/activity/goodstart/activity_rule.png" class="img-margin" />
        <div style="height:20px;"></div>
        <p>
            <em>1</em>本次活动时间：2018年1月17日00:00:00--2018年2月14日23:59:59
        </p>
        <p>
            <em>2</em>除特殊说明外，本活动与平台其它活动可同时参与
        </p>
        <p>
            <em>3</em>仅限3月及以上标的参与，平台债权转让标不参加本次活动
        </p>
        <p>
            <em>4</em>根据国家税法规定，实物奖品扣除个税由客户自行承担,同一活动的实物奖品只允许领取一次

        </p>
        <p>
            <em>5</em>投资红包仅限3月及以上标的使用，抵扣投资额度为0.5%，有效期一个月
        </p>
        <p>
            <em>6</em>本次活动解释权归中房创投所有，如有疑问请联系在线客服或拨打客服热线400-025-1002
        </p>
    </div>
    <div style="height:75px"></div>
</div>

