
@{
    ViewData["Title"] = "6月份运营报告";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}
<link href="~/css/activities/newyear.css" rel="stylesheet" />
<div class="report201806_banner">

</div>
<div class="report201806_pic1">

</div>
<div class="report201806_pic2">
    <div style="height:70px;"></div>
    <p class="text_align_center white font_size_40 font-weight">
        6月业绩
    </p>
    <div class="report201802_ul">
        <ul>
            <li class="text_align_center">
                <div style="height:85px;"></div>
                <p class="font_size_20">
                    <em class="font_size_40">3,196,000.00</em>元
                </p>
                <div style="height:40px;"></div>
                <p class="font_size_26 gray1">
                    投资额
                </p>
            </li>
            <li class="text_align_center">
                <div style="height:85px;"></div>
                <p class="font_size_20">
                    <em class="font_size_40">77</em>人
                </p>
                <div style="height:40px;"></div>
                <p class="font_size_26 gray1">
                    注册人数
                </p>
            </li>
            <li class="text_align_center">
                <div style="height:85px;"></div>
                <p class="font_size_20">
                    <em class="font_size_40">268</em>人
                </p>
                <div style="height:40px;"></div>
                <p class="font_size_26 gray1">
                    当前投资人数
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="report201802_pic3">
    <div style="height:100px;"></div>
    <p class="text_align_center  font_size_40 font-weight">
       风控数据
    </p>
    <dl class="white">
        <dd class="text_align_center">
            <div style="height:100px;"></div>
            <p class="font_size_20">
                <em class="font_size_40">0</em>%
            </p>
            <div style="height:50px;"></div>
            <p class="font_size_26 ">
                逾期率
            </p>
        </dd>
        <dd class="text_align_center">
            <div style="height:100px;"></div>
            <p class="font_size_20">
                <em class="font_size_40">100</em>%
            </p>
            <div style="height:50px;"></div>
            <p class="font_size_26 ">
                兑付率
            </p>
        </dd>
        <dd class="text_align_center">
            <div style="height:100px;"></div>
            <p class="font_size_20">
                <em class="font_size_40">0</em>%
            </p>
            <div style="height:50px;"></div>
            <p class="font_size_26 ">
                坏账率
            </p>
        </dd>
    </dl>
</div>
<div class="report201802_pic4">
    <div style="height:110px;"></div>
    <p class="text_align_center white font_size_40 font-weight">
        用户分析
    </p>
    <img src="~/images/activity/report201806/report201806_pic5.png" class="img-margin" />
</div>
<div class="report201802_pic5">
    <div style="height:90px"></div>
    <p class="text_align_center  font_size_40 font-weight">
        地区分析
    </p>
    <div style="height:50px"></div>
    <div class="report201802_pic5_city">
        <img src="~/images/activity/report201806/report201806_pic6.png" class="img-margin" />
    </div>
    <div style="height:10px"></div>
    <img src="~/images/activity/report201806/report201806_pic7.png" class="img-margin" />
</div>
<div class="report201802_pic6">
    <div style="height:90px"></div>
    <p class="text_align_center  font_size_40 font-weight">
        投资风云榜
    </p>
    <div style="height:50px"></div>
    <div class="report201802_pic5_city">
        <img src="~/images/activity/report201806/report201806_pic9.png" class="img-margin" />
    </div>
    <div style="height:10px"></div>
    <img src="~/images/activity/report201806/report201806_pic8.png" class="img-margin" />
</div>
<div class="report201802_pic7">
    <div style="height:140px"></div>
    <p class="text_align_center white font_size_40 font-weight">
        为您服务
    </p>
    <div style="height:180px;"></div>
    <dl>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon1.png" />
            <p>
                处理疑难问题
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                25
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon2.png" />
            <p>
                微信咨询
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                254
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon3.png" />
            <p>
                处理疑难问题
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                49
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon4.png" />
            <p>
                回复客服邮件
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                0
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon5.png" />
            <p>
                回复并处理后台问题
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                0
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon6.png" />
            <p>
                受理在线咨询 
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                4
            </p>
        </dd>
    </dl>
</div>
<div class="report201802_pic8">
    <div style="height:90px"></div>
    <p class="text_align_center  font_size_40 font-weight">
        平台动态
    </p>
    <div style="height:50px;"></div>
    <img src="~/images/activity/report201806/report201806_pic6.jpg" class="img-margin" />
    <div style="height:25px;"></div>
    <p class="text_align_center font_16">
        点点滴滴热血浓 中房创投在行动
    </p>
    <div style="height:40px;"></div>
    <img src="~/images/activity/report201806/report201806_pic7.jpg" class="img-margin" />
    <div style="height:25px;"></div>
    <p class="text_align_center font_16">
        粽情端午，与爱同行
    </p>
</div>
<div class="report201802_pic8">
    <div style="height:90px"></div>
    <p class="text_align_center  font_size_40 font-weight">
        集团动态
    </p>
    <div style="height:50px;"></div>
    <img src="~/images/activity/report201806/report201806_pic8.jpg" class="img-margin" />
    <div style="height:25px;"></div>
    <p class="text_align_center font_16">
        中房中融集团应邀前往北京拜访全国政协副主席齐续春
    </p>
    <div style="height:40px;"></div>
    <img src="~/images/activity/report201806/report201806_pic9.jpg" class="img-margin" />
    <div style="height:25px;"></div>
    <p class="text_align_center font_16">
        中房中融集团应邀参加2018世界中小企业大会，共商未来发展之道
    </p>
</div>
<div style="height:40px;"></div>


