
@{
    ViewData["Title"] = "盼来春生夏长 收获慢慢财富";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}

<link href="~/css/activities/newyear.css" rel="stylesheet" />

<div class="springsummer_bg">
    <div class="springsummer_height"></div>
    <div class="springsummer_box1">
           <img src="~/images/activity/springandsummer/springsummer_title1.png" class="img-margin" style="margin-top:70px;"/>
           <div style="height:70px;">

           </div>
       <div class="springsummer_tab">
           <ul class="springsummer_ul">
               <li>
                   <img src="~/images/activity/springandsummer/newuser.png" />
               </li>
               <li>
                   <img src="~/images/activity/springandsummer/olduser.png" />
               </li>
               <div class="clear"></div>
           </ul>
           <div class="springsummer_box">               
               <div>
                   <p class="text_align_center font_22">
                       活动期间，新用户注册日起<em class="font-weight font_24">30天内投资</em>，
                   </p>
                   <div style="height:25px;"></div>
                   <p class="text_align_center font_22">
                       可获得投资总额的1%现金返现，<em class="font-weight font_24">最高100元</em>。
                   </p>
                   <div style="height:40px"></div>
                   <dl>
                       <dd class="text_align_center">
                           <div style="height:50px;"></div>
                           <p class="bold font_24">
                               A君投资10000元
                           </p>
                           <div style="height:20px;"></div>
                           <p class="font_20">
                               活动结束后获得现金返现
                           </p>
                           <div style="height:15px;"></div>
                           <p class="font_20">
                               10000*1%=100元
                           </p>
                       </dd>
                       <dd class="text_align_center">
                           <div style="height:50px;"></div>
                           <p class="bold font_24">
                               B君投资1000元
                           </p>
                           <div style="height:20px;"></div>
                           <p class="font_20">
                               活动结束后获得现金返现
                           </p>
                           <div style="height:15px;"></div>
                           <p class="font_20">
                               1000*1%=10元
                           </p>
                       </dd>
                       <div class="clear"></div>
                   </dl>
                   <div style="height:40px;"></div>
                   <a href="/myinvest/recommendedlist" class="springsummer_button1">

                   </a>
               </div>
               <div style="display:none">
                   <p class="text_align_center font_22">
                       活动开始前<em class="font-weight font_24">已实名认证的用户</em>，投资可获得<em class="font-weight font_24">现金返现，多投多得，无上限</em>。
                   </p>
                   <div style="height:30px"></div>
                   <div class="springsummer_table">
                       <table cellpadding="0" cellspacing="0">
                           <tr>
                               <th>
                                   项目期限
                               </th>
                               <th>
                                   返现规则
                               </th>
                           </tr>
                           <tr>
                               <td>
                                   一个月
                               </td>
                               <td>
                                   投资金额 * 0.1%
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   三个月
                               </td>
                               <td>
                                   投资金额 * 0.4%
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   六个月
                               </td>
                               <td>
                                   投资金额 * 0.8%
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   十二个月
                               </td>
                               <td>
                                   投资金额 * 1.5%
                               </td>
                           </tr>
                       </table>
                   </div>
                   <div style="height:30px;"></div>
                   <a href="/myinvest/recommendedlist" class="springsummer_button2">

                   </a>
               </div>
           </div>
       </div>
   </div> 
    <div style="height:60px;"></div>
    <div class="springsummer_page2">
       <img src="~/images/activity/springandsummer/springsummer_title2.png" class="img-margin" />
       <div style="height:40px;"></div>
       <div class="springsummer_box2">
           <div style="height:60px;"></div>
           <p class="font_24 text_align_center">
               活动期间，邀请好友投资，同时满足以下条件：
           </p>
           <div style="height:40px;"></div>
           <p class="springsummer_box2_text1">
               1. 邀请人数 ≥ 3
           </p>
           <div style="height:25px;"></div>
           <p class="springsummer_box2_text2">
               2.  被邀请人至少一人投资金额 ≥ 10000元
           </p>
           <div style="height:80px;"></div>
           <p class="font_26 bold text_align_center">
               即可获得所有被邀请人在活动期间内投资总额的1%投资红包
           </p>
           <div style="height:40px;"></div>
           <p style="color:#c2383a" class="text_align_center font_size_20">
               <b>新老用户都可以参加噢</b>
           </p>
       </div>
   </div>
    <div style="height:70px;"></div>
    <div class="springsummer_page3">
        <img src="~/images/activity/springandsummer/springsummer_title3.png" class="img-margin" />
        <div style="height:30px;"></div>
        <div class="springsummer_box3">
            <div style="height:50px;"></div>
            <p>
                1.活动日期为2018年4月28日~5月31日；
            </p>
            <p>
                2.累投奖励按照最高奖励规则进行计算；
            </p>
            <p>
                3.新手专享、债权转让标不参加本次活动；
            </p>
            <p>
                4.投资红包为3个月及以上期限项目使用；
            </p>
            <p>
                5.返现统一在活动结束后5-7个工作日内发放；
            </p>
            <p>
                6.本次活动解释权归中房创投所有，如有疑问请联系在线客服或拨打客服热线400-025-1002。
            </p>
        </div>
    </div>
    <div style="height:50px;"></div>
</div>

<script>
    $("ul.springsummer_ul  li").click(function () {
        var index = $(this).index();
        if (index == 0) {
            $(this).parent().parent().addClass("springsummer_tab").removeClass("springsummer_tab1");
        } else if (index == 1){
            $(this).parent().parent().addClass("springsummer_tab1").removeClass("springsummer_tab");

        }
        $(".springsummer_box > div").eq(index).show().siblings().hide();
    })
</script>