
@{
    ViewData["Title"] = "7月份运营报告";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}

<link href="~/css/activities/newyear.css" rel="stylesheet" />
<div class="report201807_banner">

</div>
<div class="report201807_pic1">
</div>
<div class="report201807_pic2">
    <div style="height:160px;"></div>
    <p class="text_align_center white font_size_40 font-weight">
        7月业绩
    </p>
    <div class="report201802_ul" style="margin-top:200px">
        <ul>
            <li class="text_align_center">
                <div style="height:85px;"></div>
                <p class="font_size_20">
                    <em class="font_size_40">3,324,000.00</em>元
                </p>
                <div style="height:40px;"></div>
                <p class="font_size_26 gray1">
                    投资额
                </p>
            </li>
            <li class="text_align_center">
                <div style="height:85px;"></div>
                <p class="font_size_20">
                    <em class="font_size_40">49</em>人
                </p>
                <div style="height:40px;"></div>
                <p class="font_size_26 gray1">
                    注册人数
                </p>
            </li>
            <li class="text_align_center">
                <div style="height:85px;"></div>
                <p class="font_size_20">
                    <em class="font_size_40">296</em>人
                </p>
                <div style="height:40px;"></div>
                <p class="font_size_26 gray1">
                    当前投资人数
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="report201802_pic3">
    <div style="height:100px;"></div>
    <p class="text_align_center  font_size_40 font-weight">
        风控数据
    </p>
    <dl class="white">
        <dd class="text_align_center">
            <div style="height:100px;"></div>
            <p class="font_size_20">
                <em class="font_size_40">0</em>%
            </p>
            <div style="height:50px;"></div>
            <p class="font_size_26 ">
                逾期率
            </p>
        </dd>
        <dd class="text_align_center">
            <div style="height:100px;"></div>
            <p class="font_size_20">
                <em class="font_size_40">100</em>%
            </p>
            <div style="height:50px;"></div>
            <p class="font_size_26 ">
                兑付率
            </p>
        </dd>
        <dd class="text_align_center">
            <div style="height:100px;"></div>
            <p class="font_size_20">
                <em class="font_size_40">0</em>%
            </p>
            <div style="height:50px;"></div>
            <p class="font_size_26 ">
                坏账率
            </p>
        </dd>
    </dl>
</div>
<div class="report201802_pic4">
    <div style="height:110px;"></div>
    <p class="text_align_center white font_size_40 font-weight">
        用户分析
    </p>
    <img src="~/images/activity/report201807/report201806_pic5.png" class="img-margin" />
</div>
<div class="report201807_pic5">
   
</div>
<div class="report201807_pic6">

</div>
<div class="report201802_pic7">
    <div style="height:140px"></div>
    <p class="text_align_center white font_size_40 font-weight">
        为您服务
    </p>
    <div style="height:180px;"></div>
    <dl>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon1.png" />
            <p>
                处理疑难问题
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                26
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon2.png" />
            <p>
                微信咨询
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                285
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon3.png" />
            <p>
                处理疑难问题
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                53
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon4.png" />
            <p>
                回复客服邮件
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                0
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon5.png" />
            <p>
                回复并处理后台问题
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
                0
            </p>
        </dd>
        <dd>
            <img src="~/images/activity/report201806/report201806_icon6.png" />
            <p>
                受理在线咨询
            </p>
            <img src="~/images/activity/report201806/report201806_icon7.png" />
            <p>
               6
            </p>
        </dd>
    </dl>
</div>
<div class="report201802_pic8">
    <div style="height:90px"></div>
    <p class="text_align_center  font_size_40 font-weight">
        平台动态
    </p>
    <div style="height:50px;"></div>
    <img src="~/images/activity/report201807/report201806_pic6.jpg" class="img-margin" />
    <div style="height:25px;"></div>
    <p class="text_align_center font_16">
        中房创投参访苏宁金融，共同探索金融科技发展新路径
    </p>
    <div style="height:25px;"></div>
</div>