
@{
    Layout = "~/Views/Shared/_LayoutHeadFootE.cshtml";
    ViewData["Title"] = "企业通忘记密码";
}
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/common/build.css" rel="stylesheet" />

<style>
    .zfct_bg {
        background: #f0f0f0;
    }
    .right_suspension {
        top: 60px !important;
    }
    #sendSms,#verifyBtn:hover {
        cursor: pointer;
       
    }
</style>

<div class="zfct_register_box">
    <div style="height:40px;"></div>
    <div class="forgetpassword_box">
        <p class="padding_left_65 font_size_18">重置密码</p>
        <div style="height:50px;"></div>
        <div class="forgetpassword_step">
            <ul>
                <li class="forget_border_bottom">
                    <em class="forgetpassword_circle">1</em><em class="">验证身份</em>
                </li>
                <li>
                    <em class="forgetpassword_circle1">2</em><em class="gray1">重置密码</em>
                </li>
                <li class="margin-right-none">
                    <em class="forgetpassword_circle1">3</em><em class="gray1">重置成功</em>
                </li>
                <div class="clear"></div>
            </ul>
           
            
        </div>
        <div style="height:50px;"></div>
        <div class="zfct_form">
            <div class="zfct_form_group">
                <input type="text" id="userPhone" class="zfct_input_text" name="userPhone" placeholder="请输入企业联系人手机号" value="" />
                <label class="form-tips error active">
                    <div class="form_tips_content" id="userPhone_notice">

                    </div>
                </label>
            </div>
            <div class="zfct_form_group">
                <div class="checkbox checkbox-info checkbox-circle ">
                    <input id="checkbox8" class="styled" type="checkbox" checked>
                    <label for="checkbox8">
                        三证合一企业
                    </label>
                </div>
            </div>
            <div class="radio_check">
                <div class="zfct_form_group">
                    <input id="social" type="text" class="zfct_input_text" name="" placeholder="请输入统一社会信用代码" value="" />
                    <label class="form-tips error active">
                        <div class="form_tips_content" id="social_notice">
                        </div>
                    </label>
                </div>
            </div>
            <div class="radio_check_none" style="display:none">
                <div class="zfct_form_group">
                    <input id="organization" type="text" class="zfct_input_text" name="" placeholder="组织机构代码" value="" />
                    <label class="form-tips error active">
                        <div class="form_tips_content" id="organization_notice">
                        </div>
                    </label>
                </div>
                <div class="zfct_form_group">
                    <input id="tax" type="text" class="zfct_input_text" name="" placeholder="税务登记号" value="" />
                    <label class="form-tips error active">
                        <div class="form_tips_content" id="tax_notice">

                        </div>
                    </label>
                </div>
                <div class="zfct_form_group">
                    <input id="business" type="text" class="zfct_input_text" name="" placeholder="营业执照号" value="" />
                    <label class="form-tips error active">
                        <div class="form_tips_content" id="business_notice">
                        </div>
                    </label>
                </div>
            </div>
            @*<div class="zfct_form_group" >
                <input type="text" id="credit_Code" class="zfct_input_text" name="creditCode" placeholder="请输入企业统一信用代码" value="" />
                <label class="form-tips error active">
                    <div class="form_tips_content" id="userPhone_notice">
                        
                    </div>
                </label>
            </div>*@
            <div class="zfct_form_group">
                <input type="text" id="verification" class="zfct_input_text1" name="verification" placeholder="请输入短信验证码" value="" />
                @*<input type="button" value="获取验证码" id="sendSms" class="sendsms" style="width:120px;" onclick="SendPhone()" />*@
                <a id="sendSms" class="sendsms" onclick="SendPhone()">
                    获取短信验证码
                </a>
                <label class="form-tips error active">
                    <div class="form_tips_content" id="phoneVerifyCodeNotice">

                    </div>
                </label>
            </div>
            <div style="height:20px;"></div>
            <div class="zfct_form_group">
                <button id="verifyBtn" class="zfct_login_button">
                    确定
                </button>
            </div>
        </div>
    </div>    
    <div style="height:40px;"></div>
</div>

<script type="text/javascript">
    var companyInfo = /^[A-Za-z0-9-_]{6,20}$/;//公司信息
    var companyRe = new RegExp(companyInfo);
    $("#checkbox8").change(function () {
        if ($(this).is(":checked") === true) {
            $(".radio_check").show();
            $(".radio_check_none").hide();
        }
        if ($(this).is(":checked") === false) {
            $(".radio_check").hide();
            $(".radio_check_none").show();
        }
    });

    var phoneRegu = /^[1]+\d{10}$/;//手机号正则
    var wait = 120;
    function time(o) {
        if (wait == 0) {
            wait = 120;
            $(o).attr("onclick","SendPhone()");
            $(o).html("获取验证码");
        }
        else {
            console.log(wait);
            wait--;
            $(o).attr("onclick", "");
            $(o).html("重新发送(" + wait + ")");
            timeout = setTimeout(function () { time(o) }, 1000)
        }
    }
    $("#userPhone").blur(function () {
        var userPhone = $("#userPhone").val();
        if (userPhone.length == 0) {
            $("#userPhone_notice").html("");
            return;
        }
        var phoneRe = new RegExp(phoneRegu);
        if (phoneRe.test(userPhone)) {
            $.ajax({
                url: "PhoneIsExit",
                data: {
                    phone: userPhone
                },
                success: function (data) {
                    if (!data.success) {
                        $("#userPhone_notice").html("<i class='icon iconfont green4'>&#xe602;</i>");
                    } else {
                        $("#userPhone_notice").html("手机号码不存在");
                    }
                }
            });
        } else {
            $("#userPhone_notice").html("手机号码格式不正确");
        }
    });
    function SendPhone() { 
        var userPhone = $("#userPhone").val();
        var phoneRe = new RegExp(phoneRegu);
        if (phoneRe.test(userPhone)) {
            $.ajax({
                url: "ForgetPwdPhoneCode",
                data: {
                    phone: userPhone
                },
                success: function (data) {
                    if (data.success) {
                        time($("#sendSms"));
                    } else {
                        layer.alert(data.msg);
                    }
                }
            });
        } else {
            layer.alert("手机号码格式不正确");
        }
    }
    $("#verifyBtn").click(function () { 
        var userPhone = $("#userPhone").val();
        var code = $("#verification").val();
        var phoneRe = new RegExp(phoneRegu);
        if (!phoneRe.test(userPhone)) {
            $("#userPhone_notice").html("手机号码格式不正确");
            return false;
        }
        
        var data = {};
        if ($("#checkbox8").is(":checked") === true) {
            var instuCode = $("#social").val();
            if (!companyInfo.test(instuCode)) {
                $("#social_notice").html("统一社会信用代码格式错误");
                return false;
            }
            data = {
                PhoneNumber: userPhone,
                VerCode: code,
                VerifyType:true,
                InstuCode: instuCode
            }
        } else {
            var instuCode = $("#organization").val();
            if (!companyInfo.test(instuCode)) {
                $("#organization_notice").html("组织机构代码格式错误");
                return false;
            }
            var taxCode = $("#tax").val();
            if (!companyInfo.test(taxCode)) {
                $("#tax_notice").html("税务登记号格式错误");
                return false;
            }
            var busiCode = $("#business").val();
            if (!companyInfo.test(busiCode)) {
                $("#business_notice").html("营业执照号格式错误");
                return false;
            }
            data = {
                PhoneNumber: userPhone,
                VerCode: code,
                InstuCode:instuCode,
                TaxCode: taxCode,
                VerifyType: false,
                BusiCode:busiCode
            }
        }
           $.ajax({
               url: "CompanyForgetPwdValidator",
                data: data,
                success: function (data) {
                    console.log(data);
                    if (data.isSuccess) {
                        window.location.href = "ForgetPassword2?phone=" + userPhone + "&code=" + code;
                    } else {
                        layer.alert(data.msg);
                    }
                }
            });
    });
    $("#organization").blur(function () { 
        var instuCode = $("#organization").val();
        if (!companyInfo.test(instuCode)) {
            $("#organization_notice").html("组织机构代码格式错误");
        } else {
            $("#organization_notice").html("");
        }
    });
    $("#tax").blur(function () {
        var taxCode = $("#tax").val();
        if (!companyInfo.test(taxCode)) {
            $("#tax_notice").html("税务登记号格式错误");
        } else {
            $("#tax_notice").html("");
        }
    })
    $("#business").blur(function () {
        var busiCode = $("#business").val();
        if (!companyInfo.test(busiCode)) {
            $("#business_notice").html("营业执照号格式错误");
        } else {
            $("#business_notice").html("");
        }

    })
    $("#social").blur(function () {
        var instuCode = $("#organization").val();
        if (!companyInfo.test(instuCode)) {
            $("#organization_notice").html("组织机构代码格式错误");
        } else {

            $("#organization_notice").html("");
        }
    })
</script>




