@{
    Layout = "~/Views/Shared/_LayoutHeadFootE.cshtml";
    ViewData["Title"] = "企业注册第二步";

}
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/common/build.css" rel="stylesheet" />

<div class="enterprise_login_box">
    <div style="height:40px;"></div>
    <div class="forgetpassword_box">
        <p class="padding_left_65 font_size_18">企业注册</p>
        <div style="height:50px;"></div>
        <div class="forgetpassword_step" >
            <ul style="width:680px">
                <li class="">
                    <em class="gray1">Step 1 </em><em class="gray1">填写基本信息</em>
                </li>
                <li class="forget_border_bottom blue">
                    <em class="">Step 2 </em><em class="">阅读服务条款</em>
                </li>
                <li class="margin-right-none">
                    <em class="gray1">Step 3</em><em class="gray1">注册成功</em>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div style="height:30px;"></div>
        <div class="register_agreement_box">
            <p class="font_size_14 text_align_center">
                中房创投注册协议
            </p>
            <div class="regisgter_agreen_content">
                <div style="height:20px"></div>
                <p class="font_size_14">
                    中房创投由南京中乾惠诚投资管理有限公司成立并运营，以下所称“本网站”即包含了网站本身及网站运营商南京中乾惠诚投资管理有限公司。 在出借人\借款人注册成为本网站用户前，出借人\借款人已充分阅读并理解本《中房创投注册协议》（以下简称“本协议”）的所有条款。 出借人\借款人同意以下条款并注册后， 将有权依据本协议的条款接受本网站的服务，同时有义务接受本协议条款的约束。
                </p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">一、本协议的文本</p>
                <div style="height:10px"></div>
                <p>1.1 本协议的内容包括以下全部条款以及本网站已经发布的及将来可能发布的与出借人\借款人用户有关的各项规则，该等规则均为本协议不可分割的一部分，与以下所列条款具有同等法律效力。</p>
                <p>1.2 本网站有权根据需要修改本协议的内容。如以下条款或本网站各项规则有任何变更，本网站将在网站上刊载公告。经修订的相关条款和规则一经公告， 即于公告规定的特定生效日期自动生效。 请出借人\借款人适时关注本网站关于相关条款和规则的公告，如对该等变更存有异议，出借人\借款人可以通过网站客服等方式阐述自己的疑点， 本网站会为出借人\借款人作出详细解释；如出借人\借款人希望终止本协议请于该等变更的公告刊载之日起72小时内以出借人\借款人在本网站注册时提供的个人邮箱向本网站的服务邮箱发 送邮件提出注册终止申请，本网站确认收到出借人\借款人的邮件后将与出借人\借款人协商本协议终止后双方义务的履行。 如出借人\借款人在本条所述时限内未发送注册终止申请，则本条所述时限届满 之时，视为出借人\借款人已经同意接受该等变更，经修订的相关条款和规则一经公告， 即于公告规定的特定生效日期自动生效并对出借人\借款人产生法律约束力。</p>
                <p>1.3 出借人\借款人只要勾选位于注册页面下方的“我同意中房创投注册协议”选项并按照本网站的流程成功注册后，本协议即产生法律效力。出借人\借款人不得以未签署 书面协议为由否认本协议的效力。本协议是由出借人\借款人与本网站共同签订的，适用于出借人\借款人在本网站的全部活动。在出借人\借款人注册成为用户时，出借人\借款人已经阅读、 理解并接受本协议的全部条款及各类规则， 如有违反而导致任何法律后果的发生，出借人\借款人将以自己的名义独立承担所有相应的法律责任。</p>
                <p>1.4 本协议不涉及出借人\借款人与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">二、注册用户的身份限制</p>
                <div style="height:10px"></div>
                <p>
                    2.1 作为本网站出借人\借款人用户，出借人\借款人必须符合下列条件：（一）中国大陆公民，年龄在18周岁以上，且具有完全的民事行为能力； （二）具有完全民事行为能力的中国法人或其他组织；（三）不违反法律法规规定的其他限制性条款。如不具备上述资格，出借人\借款人应立即停止在本网站的注册程序、 停止使用本网站服务，本网站有权随时终止出借人\借款人的注册进程及本网站服务，出借人\借款人应对出借人\借款人的注册给本网站带来的损失承担全额赔偿责任， 且出借人\借款人的监护人（如出借人\借款人为限制民事行为能力的自然人）或出借人\借款人的实际控制人（如出借人\借款人为法人、其他组织的或违反其他限制性条件的）应承担连带责任。
                </p>
                <p>
                    2.2 在注册时和使用本网站服务的所有期间，出借人\借款人应提供出借人\借款人自身的真实资料和信息，并保证自出借人\借款人注册之时起至出借人\借款人使用本网站服务的所有期间， 其所提交的所有资料和信息（包括但不限于电子邮件地址、联系电话、联系地址、邮政编码、个人身份信息、征信信息等）真实、准确、完整，且是最新的。并且没有任何引人误解或者虚假的陈述， 且保证本网站可以通过出借人\借款人所填写的联系方式与出借人\借款人取得联系，因无法联系造成的法律后果由出借人\借款人自行承担。
                </p>
                <p>
                    2.3 出借人\借款人应根据本网站对于相关服务的要求及时提供相应的身份证明等资料，否则本网站有权拒绝向该出借人\借款人提供相关服务。
                </p>
                <p>
                    2.4 出借人\借款人承诺将及时更新其信息以维持该等信息的有效性，即上述所有资料与信息如有变更需及时与本网站联系予以更新，否则出借人\借款人将面临提供虚假资料的法律风险。
                </p>
                <p>
                    2.5 如果出借人\借款人提供的资料或信息包含有不正确、不真实的信息，本公司保留取消出借人\借款人会员资格并随时结束为该出借人\借款人提供服务的权利。
                </p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">三、 本网站的服务内容</p>
                <div style="height:10px"></div>
                <p>3.1 本网站通过本网站以及其他渠道和方式等向出借人\借款人提供以下服务中的一项或多项：(1) 撮合出借人与借款人\债权转让人形成借贷交易\债权转让的居间服务； (2)既有债权的转让； (3) 信用咨询及贷后管理服务；及 (4) 其他相关服务。本网站向出借人\借款人提供服务的具体内容由本网站与出借人\借款人另行签署的 《中房创投投资咨询与管理服务协议》及其他协议约定。</p>
                <p>3.2 本网站就向出借人\借款人提供的服务是否收取服务费及服务费的具体标准和规则由本网站与出借人\借款人另行签署的《中房创投投资咨询与管理服务协议》及其他协议，以及本网站公布的规则确定。</p>
                <p>3.3鉴于互联网金融P2P借款的行业特点，出借人授权南京普乾道恒资产管理有限公司或其指定的特定自然人作为抵押权人办理借款人\债权受让人提供的抵押物、 质押物等抵质押手续，并在借款项目出现逾期违约时代为实现抵押权。借款人知晓并同意：借款人通过本网站平台发布借款信息前，南京普乾道恒资产管理有限公司或其指定的特定自然人作为抵押权人 办理借款人提供的抵押物、质押物等抵、质押手续已得到出借人事前授权或事后追认，借款人同意在借款项目出现逾期违约时由南京普乾道恒资产管理有限公司或其指定的特定自然人代出借人实现抵押权。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">四、 用户使用限制</p>
                <div style="height:10px"></div>
                <p>4.1 出借人\借款人不得利用本网站或本网站服务从事任何不符合中国法律法规或侵犯他人权益的活动。本网站在发现出借人\借款人从事该等活动时，有权不经通知而立即停止出借人\借款人对本网站的全部或部分功能的使用。</p>
                <p>4.2 在使用本网站提供的任何服务（包括但不限于站内信服务、群组服务、论坛服务或其他电子邮件转发服务）的过程中，出借人\借款人不得发送、公布或展示任何垃圾邮件、 信息或其他可能违反中国法律法规及本协议的内容。本网站在发现出借人\借款人从事该等活动或发布该等内容时， 有权不经出借人\借款人同意而删除该等内容，并有权不经通知而立即暂停或停止出借人\借款人 对本网站的全部或部分功能的使用。</p>
                <p>4.3 出借人\借款人在注册时向本网站提交的电子邮箱、用户名、密码及安全问题答案是出借人\借款人在本网站的唯一识别信息。出借人\借款人注册成功后，不得将注册的电子邮箱名、 密码及安全问题答案转让或授权给第三方使用。出借人\借款人确认，使用出借人\借款人的用户名和密码登陆本网站后在本网站的一切行为以及以出借人\借款人在本网站注册时提交的个人电子邮箱发送邮件的行为 均代表出借人\借款人本人并由出借人\借款人承担相应的法律后果。</p>
                <p>4.4 本网站的所有内容，包括但不限于文本、数据、图片、音频、视频、源代码和其他所有信息，均由本网站享有知识产权。未经本网站事先书面同意，出借人\借款人或其他任何人不得复制、改编、传播、公布、 展示或以任何其他方式侵犯本网站的知识产权。</p>
                <p>4.5 出借人\借款人保证其使用本网站服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用本网站提供的服务进行存储、发布、传播如下信息和内容： 违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传和/或新闻信息； 涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、 赌博游戏；违反国家民族和宗教政策的信息；防碍互联网运行安全的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、 社会治安、公共道德的信息或内容。出借人\借款人同时承诺不得为 他人发布上述不符合国家规定和/或本服务条款约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等。 出借人\借款人承诺本网站有权在出借人\借款人违反上述时有权终止向出借人\借款人 提供服务并不予退还任何款项，因出借人\借款人上述行为给本网站造成损失的，出借人\借款人应予赔偿。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">五、 用户信息的保护及披露</p>
                <div style="height:10px"></div>
                <p>5.1 出借人\借款人同意本网站在业务运营中收集和储存出借人\借款人的用户信息，包括但不限于出借人\借款人自行提供的资料和信息，以及本网站自行收集、 取得的出借人\借款人在本网站的交易记录和使用信息等。本网站收集和储存出借人\借款人的用户信息的主要目的在于提高为出借人\借款人提供服务的效率和质量。</p>
                <p>5.2 出借人\借款人同意本网站在业务运营中使用出借人\借款人的用户信息，包括但不限于(1)根据双方另行签署的《中房创投投资咨询与管理服务协议》在本网站公示 出借人\借款人的相关信息， (2)向本网站的合作机构（该合作机构仅限于本网站为了完成拟向出借人\借款人提供的服务而合作的机构）提供出借人\借款人的用户信息， ( 3)由人工或自动程序对出借人\借款人信息进行评估、分类、研究，(4)使用出借人\借款人的用户信息以改进本网站的推广；以及 (5)使用出借人\借款人提供的联系方式与出借人\借款 人联络并向出借人\借款人传递有关业务和管理方面的信息。如有需要， 本网站可能调查多个用户以识别问题或解决争议，特别是本网站可审查出借人\借款人的资料以区分使用多个用户名或别名的用户。</p>
                <p>5.3 本网站将采用行业标准惯例以保护出借人\借款人的用户信息，包括建立相应的信息保护制度和机制、设备等，但出借人\借款人应了解， 上述保护措施可能受限于技术限制而 不能确保出借人\借款人的信息不会通过本协议中未列明的途径泄露出去，本网站不承担因此而导致的任何损失或责任。</p>
                <p>5.4 本网站有义务在行政、司法等机关要求时向该等机关提供出借人\借款人的用户信息。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">六、 不保证条款</p>
                <div style="height:10px"></div>
                <p>6.1 出借人\借款人应了解，无论出借人\借款人通过本网站形成的借贷关系是否适用本网站的回款风险保证金计划或者是否存在第三方担保，本网站及本网站的关联方董事、员工、 代理人均不以任何明示或默示的方式对出借人\借款人通过本网站平台形成的借贷交易及其履行提供任何担保， 均不以任何明示或默示的方式保证由其他用户或机构提供的信息内容的真实性、 充分性、及时性、可靠性、完整性和有效性。出借人\借款人应根据自身的风险承受能力，衡量交易相对方信息及其他相关信息以及与其交易的真实性和安全性，出借人\借款人通过本网站形成的 任何借贷交易所产生的直接及间接的损失均由出借人\借款人自身承担。出借人在此同意，如出借人通过本网站形成的借贷关系中债务人违约时，有第三方愿意代偿应由债务人承担的付款义务的， 在该第三方代偿后，出借人同意在前述借贷关系中形成的债权全部转让给第三方。</p>
                <p>6.2 本网站内容可能涉及或链接到由第三方所有、控制或者运营的其他网站（“第三方网站”）。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。 出借人\借款人确认按照第三方网站的注册协议而非本注册协议使用第三方网站，第三方网站的内容、产品、广告和其他任何信息均由出借人\借款人自行判断并承担风险。</p>
                <p>6.3 如果由于本网站及相关第三方的设备、系统故障或缺陷、病毒、黑客攻击、网络故障、网络中断、地震、台风、水灾、海啸、雷电、火灾、瘟疫、流行病、战争、恐怖主义、 敌对行为、暴动、罢工、交通中断、停止供应主要服务、电力中断、经济形势严重恶化或其它类似事件，致使本网站未能履行本协议或履行本协议不符合规定，不构成本网站的违约。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">七、 通知</p>
                <div style="height:10px"></div>
                <p>本协议项下的通知如已公示方式作出，一经在本网站公示即视为已经送达。除此之外，其他向出借人\借款人个人发布的具有专属性的通知将由本网站向出借人\借款人在注册时或者注册后变更用 户信息时向本网站提供的电子邮箱，或本网站在本网站上出借人\借款人个人 账户中为出借人\借款人设置的“个人收件箱”，或出借人\借款人在注册后在本网站绑定的手机发送，一经发送即视为已经送达。 请出借人\借款人密切关注出借人\借款人的电子邮箱 、“个人收件箱” 中的邮件和信息及手机中的短信信息。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">八、 违约责任</p>
                <div style="height:10px"></div>
                <p>如果出借人\借款人违反了出借人\借款人在协议中所作的陈述、保证、承诺或任何其他义务，致使本网站或本网站的股东、实际控制人、员工承受任何损失，出借人\借款人应向受损失的一方做出全额赔偿。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">九、 适用法律和管辖</p>
                <div style="height:10px"></div>
                <p>本协议适用中华人民共和国法律，与本协议的解释和履行有关的争议应由本网站住所地人民法院管辖。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">十、 终止</p>
                <div style="height:10px"></div>
                <p>除非本网站终止本协议或者出借人\借款人申请终止本协议及注销相应出借人\借款人账户且经本网站同意，否则本协议始终有效。在出借人\借款人违反了本协议、相关规则，或在相关法律法规、政府部门的要求下， 本网站有权通过电子邮件告知方式终止本协议、关闭出借人\借款人的账户或者限制出借人\借款人使用本网站。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">十一、 条款的独立性</p>
                <div style="height:10px"></div>
                <p>若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。出借人\借款人委托中房创投保管所有与本协议有关的书面文件或电子信息，本协议以电子文本的形式保存于中房创投的存储设备。</p>
                <div style="height:20px"></div>
                <p class="font_size_14 bold">十二、协议的解释</p>
                <div style="height:10px"></div>
                <p>本协议采用电子文本形式制成，并保存在中房创投为此的设立的专用服务器上备查，注册人认可该形式的协议效力。本网站拥有对本协议的最终解释权。</p>
                <div class="register_agree_button" >
                    <button class="register_agree_button_yes">
                        同意<<中房创投注册协议>>
                    </button>
                    <button class="register_agree_button_no">
                        不同意
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="height:40px;"></div>
</div>

<script>
    $(function () {       
        $("#checkbox8").change(function () {
            if ($(this).is(":checked") === true) {
                $(".radio_check").show();
                $(".radio_check_none").hide();
            }
            if ($(this).is(":checked") === false){
                $(".radio_check").hide();
                $(".radio_check_none").show();
            }
        });
    });    
</script>


