
@{
    ViewData["Title"] = "资金存管-交易记录";
    Layout = "../Shared/_EnterpriseMyAccountLeft.cshtml";
}


<style>
    .zfct_bg {
        background: #f0f0f0;
    }
</style>

<script>
    $(function () {
        AccordionActive(7);
    });
</script>
<div style="height:20px;"></div>
<div class="zfct_investmentlist float_right">

    <div class="invest_table">
        <div class="my_assets_title">
            <span class="font_size_16 font-weight">操作记录</span>
        </div>
        <div class="my_assets_tab">
            <div class="my_assets_tab_box my_assets_tab_box_signal  ">
                <div class="my_assets_tab_box1">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="">
                                <th>交易日期</th>
                                <th style="width:200px;">项目名称</th>
                                <th>交易类型</th>
                                <th>金额</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody id="transactionrecordlist">
                            <tr><td align="center" colspan="99"><img src="~/images/loading.gif" alt="loading" /></td></tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div style="text-align: center;margin-top:10px">
                <div class="pager_box">
                    <div id="pager" class="pager_div"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/js/laydate/theme/default/laydate.css" rel="stylesheet" />
<script src="~/js/laydate/laydate.js"></script>
<script>
    $(function () {
        $("#transactionrecordlist").load("/MyAccount/TransactionRecordData", { Page: 1, PageSize: 5, Type: 1 }, function () {
            $('#pager').pagination({
                callback: pageCallback,
                totalData: $("#TotalData").val(),
                showData: 5,
                coping: true,
                prevContent: '<',
                nextContent: '>'
            });
        });
        function pageCallback(index, jq) {
            initTable(index);
        }
        function initTable(index) {
            $("#transactionrecordlist").load("/MyAccount/TransactionRecordData", { Page: index.getCurrent(), PageSize: 5, Type: 1 });
        }

    });
</script>
