@using ZFCTPC.Data.ApiModelReturn
@using ZFCTPC.Data.ApiModelReturn.LoanReturnModels
@model ZFCTPC.Data.ApiModelReturn.ReturnPageData<ZFCTPC.Data.ApiModelReturn.LoanReturnModels.RLoanInvester>
@{
    var count = Model.Total;
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="repayment_plan_table investment_record_table">
    @if (Model != null && count > 0)
    {
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>投资人</th>
                <th>投资金额</th>
                <th>投资时间</th>
                <th>投资状态</th>

            </tr>
            </thead>
            <tbody id="investerInfo">
            @foreach (var info in Model.PagingData)
            {
                <tr>
                    <td>@(info.Invester)</td>
                    <td>@(info.InvestMoney)</td>
                    <td>@(info.InvestTime.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                    <td>投资成功</td>
                </tr>
            }
            </tbody>
        </table>
        <div style="height: 20px;"></div>
        <div style="text-align: center">
            <div class="pager_box">
                <div id="pager" class="pager_div"></div><span class="totle_num">共@((count + 4) / 5)页</span>
            </div>
        </div>

    }
    else
    {
        <p align="center">暂无数据</p>
    }

</div>


<script>
    $(function() {
        $('#pager').pagination({
            callback: pageCallback,
            totalData: @count,
            showData: 5,
            coping: true,
            prevContent:'<',
            nextContent:'>'
        });

        function pageCallback(index,jq) {
            initTable(index);
        }
        //请求数据   
        function initTable(index) {
            $.ajax({
                url: '/myinvest/loaninvester',
                data: { "loanId": $('#pro_loan_id').val(), "page": index.getCurrent(), "pageSize": 5 },
                success: function(info) {
                    var html = "";
                    var investers = JSON.parse(info.data);
                    $.each(investers,
                        function(index,value) {
                            html += "<tr><td>" + value.Invester + "</td>";
                            html += "<td>" + value.InvestMoney + "</td><td>" + value.InvestTimeString+"</td><td>投资成功</td></tr>";
                        });
                    $('#investerInfo').empty().append(html);
                }
            });
        }
    })

</script>
